@charset "UTF-8";
@font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?23527613');
  src: url('../font/symbols-technomart.eot?23527613#iefix') format('embedded-opentype'), url('../font/symbols-technomart.woff?23527613') format('woff'), url('../font/symbols-technomart.ttf?23527613') format('truetype'), url('../font/symbols-technomart.svg?23527613#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */


/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */


/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?23527613#symbols-technomart') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-left:before {
  content: '\3c';
} /* '&lt;' */
.icon-right:before {
  content: '\3e';
}/* '&gt;' */

.icon-basket:before {
  content: '\62';
}

/* 'b' */

.icon-facebook:before {
  content: '\66';
}

/* 'f' */

.icon-twitter:before {
  content: '\74';
}

/* 't' */

.icon-vk:before {
  content: '\76';
}

/* 'v' */

.icon-up:before {
  content: '\2c4';
}

/* '˄' */

.icon-down:before {
  content: '\2c5';
}

/* '˅' */

.icon-left-big:before {
  content: '\2190';
}

/* '←' */

.icon-right-big:before {
  content: '\2192';
}

/* '→' */

.icon-login:before {
  content: '\2386';
}

/* '⎆' */

.icon-logout:before {
  content: '\241b';
}

/* '␛' */

.icon-up-dir:before {
  content: '\25b2';
}

/* '▲' */

.icon-down-dir:before {
  content: '\25bc';
}

/* '▼' */

.icon-circle:before {
  content: '\25cb';
}

/* '○' */

.icon-circle-dot:before {
  content: '\25cf';
}

/* '●' */

.icon-star:before {
  content: '\2605';
}

/* '★' */

.icon-check-off:before {
  content: '\2610';
}

/* '☐' */

.icon-check-on:before {
  content: '\2611';
}

/* '☑' */

.icon-youtube:before {
  content: '\f39e';
}

/* '' */

.icon-home:before {
  content: '🏠';
}

/* '\1f3e0' */

.icon-user:before {
  content: '👨';
}

/* '\1f468' */

.icon-phone:before {
  content: '📞';
}

/* '\1f4de' */

.icon-instagramm:before {
  content: '📷';
}

/* '\1f4f7' */

.icon-search:before {
  content: '🔍';
}

/* '\1f50d' */

.icon-bookmark:before {
  content: '🔖';
}

/* '\1f516' */


/* STYLE */

body {
  font-family: 'Cuprum', sans-serif;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: inline-block;
  text-align: top;
  padding: 13px 60px;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  outline: none;
  cursor: pointer;
  box-shadow: none;
}
.btn:hover {
  background-color: #ca2c37;
}
.btn:active {
  background-color: #ba2732;
}
.section-header {
  padding: 0px 25px;
  background-color: #f7f3ec;  
}
.section-header h2 {
  display: block;
  float: left;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
.section-header .btn {
  display: block;
  float: right;
  margin: 20px 0;  
}
.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
  
}
.flag-new {
  background: url("/img/flag-new.png") no-repeat 0 0;
}

/* MAIN HEADER */

.main-header {
  width: 100%;
  background-color: #293449;
  height: 42px;
}
.main-header i {
  color: #81868f;
}
.main-header-logo {
  display: block;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
  line-height: 42px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ee3643;
  -webkit-box-shadow: 0px 5px 0px 0px rgba(181, 41, 51, 1), inset 0px 1px 0px 0px rgba(224, 54, 67, 1);
  -moz-box-shadow: 0px 5px 0px 0px rgba(181, 41, 51, 1), inset 0px 1px 0px 0px rgba(224, 54, 67, 1);
  box-shadow: 0px 5px 0px 0px rgba(181, 41, 51, 1), inset 0px 1px 0px 0px rgba(224, 54, 67, 1);
}
.search {
  position: relative;
  float: left;
  width: 270px;
  font-size: 18px;
  display: block;
  padding-bottom: -1px;
}
.search i {
  position: absolute;
  top: 10px;
  left: 18px;
}
.search input {
  width: 220px;
  padding-left: 50px;
  background-color: inherit;
  border: none;
  line-height: 42px;
}
input[type="search"]::-moz-placeholder {
  color: #fff;
}
input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}
input[type="search"]:-ms-input-placeholder {
  color: #fff;
}
input[type="search"]::-ms-input-placeholder {
  color: #fff;
}
input[type="search"]::placeholder {
  color: #fff;
}
.search input:focus {
  outline: none;
  background-color: #fff;
  color: #000;
}
.main-header-purchase {
  float: right;
  font-size: 0;
}
.main-header-purchase a {
  display: inline-block;
  vertical-align: top;
  line-height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}
.main-header-purchase a:hover {
  background-color: #212a3a;
}
.main-header-purchase a:active {
  background-color: #161d29;
  color: #a7a8ab;
}
.main-header-purchase i {
  margin-right: 15px;
}
.main-header-purchase a:hover i {
  color: #fff;
}
.main-header-purchase a:active i {
  color: #a7a8ab;
}
.main-header-purchase a:last-child {
  background-color: #63a63e;
}
.main-header-purchase a:last-child:hover {
  background-color: #5fbb2d;
}
.main-header-purchase a:last-child:active {
  background-color: #518534;
}

/* TOP SECTION */

.top-section {
  background-color: #f1f5f7;
  padding-bottom: 65px;
  padding-top: 46px;
}
.top-section-description {
  float: left;
  max-width: 190px;
  margin-left: 50px;
  margin-top: 0;
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
  line-height: 23px;
}
.top-section-contacts {
  float: left;
  margin-left: 80px;
}
.top-section-contacts-phone {
  padding-top: 10px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 20px;
  font-size: 21px;
  color: #e9292a;
  line-height: 16, 93px;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
}
.top-section-contacts-phone i {
  color: #b7bfc8;
}
.top-section-contacts-address {
  text-align: center;
  font-size: 16px;
  color: #32425c;
}
.top-section-userblock {
  float: right;
}
.top-section-userblock a {
  display: inline-block;
  text-align: top;
  padding: 14px 25px;
  line-height: 18px;
  font-size: 21px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
}
.top-section-userblock a:hover {
  color: #ee3643;
}
.top-section-userblock a:active {
  color: #c5c5c5;
}
.top-section-userblock a:hover i {
  color: #32425c;
}
.top-section-userblock a:active i {
  color: #c5c5c5;
}
.top-section-userblock a:first-child {
  padding-top: 12px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 27px;
  margin-right: 10px;
}
.top-section-userblock i {
  color: #c5c5c5;
}

/* MAIN NAVIGATION */

.main-navigation ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 40px;
  font-size: 0;
  list-style: none;
  background-color: #32425c;
  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
  -moz-box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
  box-shadow: inset 0px -5px 0px 0px rgba(41, 52, 73, 1);
}
.main-navigation li {
  display: inline-block;
  line-height: 60px;
  vertical-align: top;
}
.main-navigation a {
  display: block;
  padding: 0 20px;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}
.main-navigation a:hover {
  background-color: rgba(41, 52, 73, 1);
}
.main-navigation a:active {
  background-color: #1d2739;
}

/* NAV-BIG */

.nav-big {
  font-size: 0;
  padding-top: 59px;
  padding-bottom: 53px;
}
.nav-big-item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding-left: 25px;  
  min-width: 300px;
  min-height: 120px;    
}
.nav-big-item1 {background-color: #f6b22d;}
.nav-big-item2 {background-color: #4aafde;}
.nav-big-item3 {background-color: #cc79d1;}
.nav-big-item4 {background-color: #85d179;}
.nav-big-item5 {background-color: #f6b22d;}

.nav-big-item .btn {  
  min-width: 115px;
  max-width: 115px;
  text-align: center;
  padding: 13px 10px;  
  background-color: rgba(0, 0, 0, 0.3);  
}
.nav-big-item .btn:hover {background-color: rgba(0, 0, 0, 0.2);}
.nav-big-item .btn:active {background-color: rgba(0, 0, 0, 0.1);}

.nav-big .title {
  font-size: 24px;
  color: #ffffff;
  max-width: 135px;
}
.nav-big-gallery {
  display: inline-block;
  vertical-align: top;
  min-height: 265px;
  min-width: 620px;
  background-color: grey;  
}

/* CATALOG */

.catalog {
  font-size: 0;
}
.catalog-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}
.catalog .row {
  margin-left: -20px;
}
.catalog-item .image {
  width: 218px;
  height: 169px;
}
.catalog-item .actions{
    position:absolute;
    top:0;
    left:0;
    width:218px;
    height:88px;
    padding:40px 0;
    background-color:rgba(255,255,255,0.9);
    z-index:10;
}
.catalog-item .actions .buy,
.catalog-item .actions .bookmark{
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}
.catalog-item .actions .bookmark{
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.catalog-item .actions{
    display:none;
}
.catalog-item:hover .actions{
    display:block;
}
.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
  text-transform: uppercase;
}
.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;  
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: transparent;
}

/* POPULAR BRANDS */

.popular-brands .row {
  margin-left: -20px;
  font-size: 0;
}
.popular-brands a{  
  display: inline-block;
  vertical-align: top;  
  margin-left: 20px;
  margin-top: 20px;    
}

/* SERVICE */

.service {
  margin-top: 85px;
  padding-top: 65px;
  padding-bottom: 50px;
  background-color: #f2f6f8;
}

/* ABOUT */

.about .company {
  max-width: 550px;
  float: left;
}
.about h2 {
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}
.about p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;  
}
.about ul{
  list-style: none;
  list-style-image: url("/img/list-style.png"); 
}
.about li{
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
.about .contacts {
  max-width: 300px;
  float: right;
}
.about .contacts .btn {
  min-width: 180px;
  margin-top: 40px;
}
